@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using LMS_Project.Models
    @using Microsoft.AspNetCore.Http
    @using Newtonsoft.Json
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Change Password</title>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
              integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
              rel="stylesheet" />
        <style>
            body {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Jost", sans-serif;
                background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
            }

            .main {
                width: 500px;
                height: 850px;
                background: red;
                overflow: hidden;
                background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
                border-radius: 10px;
                box-shadow: 5px 20px 50px #000;
            }

            .signup {
                position: relative;
                width: 100%;
                height: 100%;
            }

            label {
                color: #fff;
                font-size: 2em;
                justify-content: center;
                display: flex;
                margin: 175px 0 45px 0;
                font-weight: bold;
            }

            input {
                width: 60%;
                height: 20px;
                background: #e0dede;
                justify-content: center;
                display: flex;
                margin: 17px auto;
                padding: 23px;
                border: none;
                outline: none;
                border-radius: 5px;
            }

            button {
                width: 60%;
                height: 40px;
                margin: 0 auto;
                justify-content: center;
                display: block;
                color: #fff;
                background: #573b8a;
                font-size: 1em;
                font-weight: bold;
                margin-top: 9px;
                outline: none;
                border: none;
                border-radius: 5px;
                transition: 0.2s ease-in;
                cursor: pointer;
            }

                button:hover {
                    background: #6d44b8;
                }

            .mes {
                width: 60%;
                background-color: white;
                color: forestgreen;
                margin-left: 100px;
                padding: 2px 5px;
                border-radius: 4px;
            }
        </style>
    </head>
    <body>
        <div class="main">
            <div class="signup">
                @{ string json = HttpContextAccessor.HttpContext.Session.GetString("user");
                    User u = null;}
                @if (json != null)
                {
                    u = JsonConvert.DeserializeObject<User>(json);
                }
                <form action="/user/accesschange" method="post">
                    <label>Change password</label>
                    @if (ViewBag.Suc != null)
                    {
                        <p class="mes">@ViewBag.Suc</p>
                    }
                    @if (ViewBag.Err != null)
                    {
                        <p class="mes" style="color: palevioletred;">@ViewBag.Err</p>
                    }
                    <input type="password"
                           name="uoldpass"
                           placeholder="Old Password"
                           required />
                    <input type="password"
                           name="unewpass"
                           placeholder="New Password"
                           required />
                    <input type="password"
                           name="ucfpass"
                           placeholder="Confirm Password"
                           required />
                    <button class="mt-5" type="submit">Save</button>
                    <button onclick="window.location.href='/home/index'">
                        Back to home
                    </button>
                    @if (u == null)
                    {
                        <button onclick="window.location.href='/user/account/login'">
                            Login Again
                        </button>
                    }
                </form>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</html>

}
