@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
        <div class="footer-static-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer__widget footer__menu">
                            <div class="ft__logo">
                                <a href="/home/index">
                                    <img src="http://exprostudio.com/html/book_library/images/logo.png"
                                         alt="logo" />
                                </a>
                                <p>
                                    Welcome to my shop. At here, my shop have many type of books available that you can view or choose to borrow.
                                    Hope you like them to motivate me to create good books in the future. Have you good day!
                                </p>
                            </div>
                            <div class="footer__content">
                                <ul class="social__net social__net--2 d-flex justify-content-center">
                                    <li>
                                        <a href="#"><i class="bi bi-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-google"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-youtube"></i></a>
                                    </li>
                                </ul>
                                <ul class="mainmenu d-flex justify-content-center">
                                    <li><a href="/home/booklist">Books</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright__wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="copyright">
                            <div class="copy__right__inner text-start">
                                <p>
                                    &copy; 2022, PRN. Made with
                                    <i class="fa fa-heart text-danger"></i> by me
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
}
