@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using LMS_Project.Models
    @using LMS_Project.Logics
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Shopping</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Css link -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
              rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800"
              rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
              rel="stylesheet" />
        <link rel="stylesheet"
              href="https://htmldemo.net/boighor/boighor/css/bootstrap.min.css" />
        <link rel="stylesheet"
              href="https://htmldemo.net/boighor/boighor/css/plugins.css" />
        <link rel="stylesheet"
              href="https://htmldemo.net/boighor/boighor/css/style.css" />
        <link rel="stylesheet"
              href="https://htmldemo.net/boighor/boighor/css/custom.css" />
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <style>
            .btn {
                width: 22%;
                height: 40px;
                margin: 0 auto;
                justify-content: center;
                display: block;
                color: #fff;
                background: #573b8a;
                font-size: 1em;
                font-weight: bold;
                margin-top: 20px;
                outline: none;
                border: none;
                border-radius: 5px;
                transition: 0.2s ease-in;
                cursor: pointer;
            }

                .btn:hover {
                    background: #6d44b8;
                    color: #fff;
                }
        </style>
    </head>
    <body>
        <div class="wrapper" id="wrapper">
            <header id="wn__header" class="oth-page header__area header__absolute sticky__header">
                @{Html.RenderPartial("~/Views/Index/Header.cshtml");}
            </header>
            <!-- Start breadcrumb area -->
            <div class="ht__breadcrumb__area bg-image--5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb__inner text-center">
                                <h2 class="breadcrumb-title">My Book</h2>
                                <nav class="breadcrumb-content">
                                    <a class="breadcrumb_item" href="index.html">Home</a>
                                    <span class="brd-separator">/</span>
                                    <span class="breadcrumb_item active">My Book</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Shop Page -->
            <div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-12 order-1 order-lg-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-center">
                                        <p>Showing 1–12 of 40 results</p>
                                        <!-- <div class="orderby__wrapper">
                                          <span>Sort By</span>
                                          <select class="shot__byselect">
                                            <option>Default sorting</option>
                                            <option>HeadPhone</option>
                                            <option>Furniture</option>
                                            <option>Jewellery</option>
                                            <option>Handmade</option>
                                            <option>Kids</option>
                                          </select>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab__container tab-content">
                                <div class="shop-grid tab-pane fade show active"
                                     id="nav-grid"
                                     role="tabpanel">
                                    <div class="row">
                                        <!-- Start Single Product -->
                                        <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                            <div class="product__thumb">
                                                <a class="first__img" href="single-product.html">
                                                    <img src="images/books/5.jpg" alt="product image" />
                                                </a>
                                                <div class="product__content content--center content--center">
                                                    <h4><a href="single-product.html">Our Wear</a></h4>
                                                    <ul class="price d-flex">
                                                        <li>$50.00</li>
                                                    </ul>
                                                    <div class="action">
                                                        <div class="actions_inner">
                                                            <ul class="add_to_links">
                                                                <li>
                                                                    <a class="cart" href="cart.html">
                                                                        <i class="bi bi-shopping-bag4"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Single Product -->
                                        </div>
                                        <ul class="wn__pagination mb-5">
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li>
                                                <a href="#"><i class="zmdi zmdi-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Shop Page -->
                @{Html.RenderPartial("~/Views/Index/Footer.cshtml");}
            </div>
            <!-- JS Files -->
            <script src="https://htmldemo.net/boighor/boighor/js/vendor/jquery.min.js"></script>
            <script src="https://htmldemo.net/boighor/boighor/js/popper.min.js"></script>
            <script src="https://htmldemo.net/boighor/boighor/js/vendor/bootstrap.min.js"></script>
            <script src="https://htmldemo.net/boighor/boighor/js/plugins.js"></script>
            <script src="https://htmldemo.net/boighor/boighor/js/active.js"></script>
    </body>
</html>
}
